.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.product-card {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
}
.featured-heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #374736;
}


.product-card img {
  width: 30%;
  height: auto;
}

.product-card h3 {
  margin-top: 10px;
}

.product-card p {
  margin: 5px 0;
}

.product-card a {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.product-card a:hover {
  background-color: #0056b3;
}
