/* Header styling */
.header-container {
    background-color: #c9c0b1; /* Background color of the header */
    padding: 10px 20px; /* Add some padding to the header */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
  }
  
  .logo a {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    color: #000; /* Logo text color */
  }
  
  .nav-container {
    margin-left: auto; /* Align nav to the right */
  }
  
  .nav-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }
  
  .nav-container ul li {
    margin-left: 20px; /* Space between navigation items */
  }
  
  .nav-container ul li a {
    text-decoration: none;
    color: #000000; /* Text color for navigation links */
    font-size: 16px;
  }
  
  .nav-container ul li a:hover {
    text-decoration: underline; /* Underline on hover for links */
  }
  
  .contact-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent; /* Transparent background */
    color: #000000; /* Button text color */
    text-decoration: none;
    border-radius: 20px; /* Rounded corners */
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #000000; /* Black border */
    transition: background-color 0.3s, color 0.3s; /* Add transition for color change */
  }
  
  .contact-button:hover {
    background-color: #000000; /* Black background on hover */
    color: #fff; /* White text color on hover */
  }
  
  .profile-pic {
    width: 40px; /* Set profile pic width */
    height: 40px; /* Set profile pic height */
    border-radius: 50%;
    margin-left: 1px; /* Space between contact button and profile picture */
    border: 2px solid #fff; /* Optional border for profile pic */
  }
  